<div class="tech-btm">
    <h4>Mail Bülteni'ne Abone Olun!</h4>
    <p>Teknoloji, Yazılım ve diğer bloglar..</p>
    <form action="/NewsLetter/SubscribeMail" method="post">
        <input type="email" id="Mail" placeholder="Email" required="" name="Mail">
        <input type="submit" id="btnAddMail" value="Abone Ol">
    </form>
</div>

@*<script>
    $('#btnAddMail').on('click', function () {
        debugger;
        var requestData = {
            Mail: $('#Mail').val()
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("SubscribeMail", "NewsLetter")',
            data: requestData,
            success: success,
            dataType: dataType
        });
    });
</script>*@